realm=rcmania.live
server-name=turn.rcmania.live
fingerprint
use-auth-secret
proc-user=nobody
proc-group=nogroup
listening-ip={{TURN_EXTERNAL_IP}}
relay-ip={{TURN_EXTERNAL_IP}}
external-ip={{TURN_EXTERNAL_IP}}
listening-port=3478
tls-listening-port=443
min-port=49160
max-port=49259
cert=/etc/letsencrypt/live/turn.rcmania.live/fullchain.pem
pkey=/etc/letsencrypt/live/turn.rcmania.live/privkey.pem
stale-nonce=600
user-quota=12
total-quota=80
no-rfc5780
no-tcp-relay
no-multicast-peers
no-dtls
denied-peer-ip=0.0.0.0-0.255.255.255
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=100.64.0.0-100.127.255.255
denied-peer-ip=127.0.0.0-127.255.255.255
denied-peer-ip=169.254.0.0-169.254.255.255
denied-peer-ip=172.16.0.0-172.31.255.255
denied-peer-ip=192.0.0.0-192.0.0.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=224.0.0.0-255.255.255.255
log-file=stdout
simple-log
